{% extends 'tradersPanel/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<!-- Left Sidebar End -->
<!-- Body Start -->
	<div class="sa4d25">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="st_title"><i class="uil uil-star"></i> All Feedback</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="student_reviews">
						<div class="row">
							<div class="col-lg-9	">
								<!-- <div class="col-lg-7"> -->
								<div class="review_right">
									
								</div>
								{% for feedback in feedback_data %}
									<div class="review_all120">
										<div class="review_item_course_title">
											<a href="#">Feedback from {{feedback.User.username}} </a>
										</div>
										<div class="review_item">
											<div class="review_usr_dt">
												<!-- <img src="{% static 'images/left-imgs/img-1.jpg' %}" alt=""> -->
												<div class="rv1458">
													<h4 class="tutor_name1">{{feedback.User.username}}</h4>
													<span class="time_145">{{feedback.date|naturaltime}}</span>
												</div>
											</div>
											{% comment %} <div class="rating-box mt-20">
												<span class="rating-star full-star"></span>
												<span class="rating-star full-star"></span>
												<span class="rating-star full-star"></span>
												<span class="rating-star full-star"></span>
												<span class="rating-star half-star"></span>
											</div> {% endcomment %}
											<p class="rvds10">{{feedback.feedbackText}}</p>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
 

{% endblock %}