{% extends 'tradersPanel/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<!-- Left Sidebar End -->
<!-- Body Start -->
		<!-- <div class="sa4d25"> -->
			<div class="_215td5">
			<div class="container-fluid">			
			
				<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-postcard"></i> Select a Card</h2>
						<h4>Please select a card to trade</h4>
					</div>					
				</div>				
				<div class="row">
					<div class="col-lg-12">
						<div class="_215td5">
									<div class="certicates" style="">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<a href="#" class="certilink__152">
													Google
												</a>
											</div>
											<div class="col-md-4 col-sm-6">
												<a href="#" class="certilink__152">
												iTunes
												</a>
											</div>
											<div class="col-md-4 col-sm-6">
												<a href="#" class="certilink__152">
													Amazon
												</a>
											</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							</div>
						

{% endblock %}