{% extends 'tradersPanel/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<!-- Left Sidebar End -->
<!-- Body Start -->
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-apps"></i> Admin Dashboard</h2>
					</div>
	 
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="card_dash">
							<div class="card_dash_left">
								<h5>Total Transactions</h5>
								<h2>{{total_transactions}}</h2>
								<span class="crdbg_2">New </span>
							</div>
							<div class="card_dash_right">
								<img src="images/dashboard/online-course.svg" alt="">
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6">
						<div class="card_dash">
							<div class="card_dash_left">
								<h5>Pending Transactions</h5>
								<h2>{{pending_transactions}}</h2>
								<span class="crdbg_3">New 5</span>
							</div>
							<div class="card_dash_right">
								<img src="images/dashboard/online-course.svg" alt="">
							</div>
						</div>
					</div>
				
					<div class="col-md-12">
						<div class="card_dash1">
							<div class="card_dash_left1">
								<i class="uil uil-book-alt"></i>
								<h1> Open New Trade</h1>
							</div>
							<div class="card_dash_right1">
								<button class="create_btn_dash" onclick="window.location.href = '{% url "tradersPanel:create_trade" %}';">Open new Trade</button>
							</div>
						</div>
					</div>					
				</div>
				<div class="row">
					<div class="col-md-12">
						
						<div class="my_courses_tabs">
							<div class="col-lg-12">	
								<h2 class="st_title"><i class="uil uil-apps"></i> Trade History</h2>
							</div>
							<ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill" href="#pills-my-courses" role="tab" aria-controls="pills-my-courses" aria-selected="true"><i class="uil uil-book-alt"></i>All Trades</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-my-purchases-tab" data-toggle="pill" href="#pills-my-purchases" role="tab" aria-controls="pills-my-purchases" aria-selected="false"><i class="uil uil-download-alt"></i>Successfull Trades</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-upcoming-courses-tab" data-toggle="pill" href="#pills-upcoming-courses" role="tab" aria-controls="pills-upcoming-courses" aria-selected="false"><i class="uil uil-upload-alt"></i>Pending Trades</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-failed-courses-tab" data-toggle="pill" href="#pills-failed-courses" role="tab" aria-controls="pills-failed-courses" aria-selected="false"><i class="uil uil-upload-alt"></i>Failed Trades</a>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
									<div class="table-responsive mt-30">
										<table class="table ucp-table">
											<thead class="thead-s">
												<tr>
													<th class="text-center" scope="col">Trade ID.</th>
													<th class="text-center" scope="col">Publish Date</th>
													<th class="text-center" scope="col">Traders Name</th>
													<th class="text-center" scope="col">Traders Email</th>
													<th class="text-center" scope="col">Total Amount</th>
													<th class="text-center" scope="col">Status</th>
													<th class="text-center" scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for trade in all_trades %}

												
												<tr>
													<td class="text-center">{{trade.reference}}</td>
													<td class="text-center">{{trade.created_at | date}}</td>
													<td class="text-center">{{trade.user.username}}</td>
													<td class="text-center">{{trade.user.email}}</td>
													<td class="text-center">{{trade.total_amount}}</td>
													<td class="text-center">
														{% if trade.status == '1' %}
														   <b class="course_pending" style="color: rgb(216, 216, 19);">Pending</b>
														{% elif trade.status == '2' %}
		
													  <b class="course_success" style="color: green;">Successfull</b>
		
														{% else %}
															<b class="course_active" style="color: red;">Failed</b>
														{% endif %}
													 </td>
													<td class="text-center">
														<a href="{% url 'tradersPanel:view_trade_comment' trade.id %}" title="Edit" class="gray-s"><i class="uil uil-eye"></i></a>
													 
													</td>
												</tr>
											
												{% endfor %}


											</tbody>
										</table>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-my-purchases" role="tabpanel">
									<div class="table-responsive mt-30">
										<table class="table ucp-table">
											<thead class="thead-s">
												<tr>
													<th class="text-center" scope="col">Trade ID.</th>
													<th class="text-center" scope="col">Publish Date</th>
													<th class="text-center" scope="col">Traders Name</th>
													<th class="text-center" scope="col">Traders Email</th>
													<th class="text-center" scope="col">Total Amount</th>
													<th class="text-center" scope="col">Status</th>
													<th class="text-center" scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for trade in all_trades %}

												{% if trade.status == '2' %}
												<tr>
													<td class="text-center">{{trade.reference}}</td>
													<td class="text-center">{{trade.created_at | date}}</td>
													<td class="text-center">{{trade.user.username}}</td>
													<td class="text-center">{{trade.user.email}}</td>
													<td class="text-center">{{trade.total_amount}}</td>
													<td class="text-center">
														{% if trade.status == '1' %}
														   <b class="course_pending" style="color: rgb(216, 216, 19);">Pending</b>
														{% elif trade.status == '2' %}
		
													  <b class="course_success" style="color: green;">Successfull</b>
		
														{% else %}
															<b class="course_active" style="color: red;">Failed</b>
														{% endif %}
													 </td>
													<td class="text-center">
														<a href="{% url 'tradersPanel:view_trade_comment' trade.id %}" title="Edit" class="gray-s"><i class="uil uil-eye"></i></a>
													 
													</td>
												</tr>
												{% endif %}
												{% endfor %}


											</tbody>
										</table>
									</div>								
								</div>
								<div class="tab-pane fade" id="pills-upcoming-courses" role="tabpanel">
									<div class="table-responsive mt-30">
										<table class="table ucp-table">
											<thead class="thead-s">
												<tr>
													<th class="text-center" scope="col">Trade ID.</th>
													<th class="text-center" scope="col">Publish Date</th>
													<th class="text-center" scope="col">Traders Name</th>
													<th class="text-center" scope="col">Traders Email</th>
													<th class="text-center" scope="col">Total Amount</th>
													<th class="text-center" scope="col">Status</th>
													<th class="text-center" scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for trade in all_trades %}

												{% if trade.status == '1' %}
												<tr>
													<td class="text-center">{{trade.reference}}</td>
													<td class="text-center">{{trade.created_at | date}}</td>
													<td class="text-center">{{trade.user.username}}</td>
													<td class="text-center">{{trade.user.email}}</td>
													<td class="text-center">{{trade.total_amount}}</td>
													<td class="text-center">
														{% if trade.status == '1' %}
														   <b class="course_pending" style="color: rgb(216, 216, 19);">Pending</b>
														{% elif trade.status == '2' %}
		
													  <b class="course_success" style="color: green;">Successfull</b>
		
														{% else %}
															<b class="course_active" style="color: red;">Failed</b>
														{% endif %}
													 </td>
													<td class="text-center">
														<a href="{% url 'tradersPanel:view_trade_comment' trade.id %}" title="Edit" class="gray-s"><i class="uil uil-eye"></i></a>
													 
													</td>
												</tr>
												{% endif %}
												{% endfor %}


											</tbody>
										</table>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-failed-courses" role="tabpanel">
									<div class="table-responsive mt-30">
										<table class="table ucp-table">
											<thead class="thead-s">
												<tr>
													<th class="text-center" scope="col">Trade ID.</th>
													<th class="text-center" scope="col">Publish Date</th>
													<th class="text-center" scope="col">Traders Name</th>
													<th class="text-center" scope="col">Traders Email</th>
													<th class="text-center" scope="col">Total Amount</th>
													<th class="text-center" scope="col">Status</th>
													<th class="text-center" scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for trade in all_trades %}

												{% if trade.status == '3' %}
												<tr>
													<td class="text-center">{{trade.reference}}</td>
													<td class="text-center">{{trade.created_at | date}}</td>
													<td class="text-center">{{trade.user.username}}</td>
													<td class="text-center">{{trade.user.email}}</td>
													<td class="text-center">{{trade.total_amount}}</td>
													<td class="text-center">
														{% if trade.status == '1' %}
														   <b class="course_pending" style="color: rgb(216, 216, 19);">Pending</b>
														{% elif trade.status == '2' %}
		
													  <b class="course_success" style="color: green;">Successfull</b>
		
														{% else %}
															<b class="course_active" style="color: red;">Failed</b>
														{% endif %}
													 </td>
													<td class="text-center">
														<a href="{% url 'tradersPanel:view_trade_comment' trade.id %}" title="Edit" class="gray-s"><i class="uil uil-eye"></i></a>
													 
													</td>
												</tr>
												{% endif %}
												{% endfor %}


											</tbody>
										</table>
									</div>								
								</div>
								<div class="tab-pane fade" id="pills-discount" role="tabpanel">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingOne">
												<div class="panel-title adcrse1250">
													<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
														New Discount
													</a>
												</div>
											</div>
											<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body adcrse_body">
													<div class="row">
														<div class="col-lg-8">
															<div class="discount_form">
																<div class="row">
																	<div class="col-lg-6 col-md-6">
																		<div class="mt-20 lbel25">	
																			<label>Course*</label>
																		</div>
																		<select class="ui hj145 dropdown cntry152 prompt srch_explore">
																			<option value="">Select Course</option>
																			<option value="1">Course Title Here</option>
																			<option value="2">Course Title Here</option>
																			<option value="3">Course Title Here</option>
																			<option value="4">Course Title Here</option>
																			<option value="5">Course Title Here</option>
																			<option value="6">Course Title Here</option>
																			<option value="7">Course Title Here</option>
																		</select>
																	</div>
																	<div class="col-lg-6 col-md-6">	
																		<div class="ui search focus mt-20 lbel25">
																			<label>Discount Amount</label>
																			<div class="ui left icon input swdh19">
																				<input class="prompt srch_explore" type="number" name="off" value="" required="" min="1" max="99" placeholder="Percent (eg. 20 for 20%)">															
																			</div>
																		</div>										
																	</div>
																	<div class="col-lg-6 col-md-6">	
																		<div class="ui search focus mt-20 lbel25">
																			<label>Start Date</label>
																			<div class="ui left icon input swdh19">
																				<input class="prompt srch_explore datepicker-here" type="text" data-language="en" placeholder="dd/mm/yyyy">															
																			</div>
																		</div>										
																	</div>
																	<div class="col-lg-6 col-md-6">	
																		<div class="ui search focus mt-20 lbel25">
																			<label>End Date</label>
																			<div class="ui left icon input swdh19">
																				<input class="prompt srch_explore datepicker-here" type="text" data-language="en" placeholder="dd/mm/yyyy">															
																			</div>
																		</div>										
																	</div>
																	<div class="col-lg-6 col-md-6">	
																		<button class="discount_btn" type="submit">Save Changes</button>										
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="table-responsive mt-30">
										<table class="table ucp-table">
											<thead class="thead-s">
												<tr>
													<th class="text-center" scope="col">Item No.</th>
													<th class="cell-ta">Course</th>
													<th class="text-center" scope="col">Start Date</th>
													<th class="text-center" scope="col">End Date</th>
													<th class="text-center" scope="col">Discount</th>
													<th class="text-center" scope="col">Status</th>
													<th class="text-center" scope="col">Actions</th>
												</tr>
											</thead>
											<tbody>
                                                <tr>
													<td class="text-center">01</td>
													<td class="cell-ta">Course Title Here</td>
													<td class="text-center">02 November 2019</td>
													<td class="text-center">19 November 2019</td>
													<td class="text-center">20%</td>
													<td class="text-center"><b class="course_active">Active</b></td>
													<td class="text-center">
														<a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
														<a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
													</td>
												</tr>
                                            </tbody>
										</table>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-promotions" role="tabpanel" aria-labelledby="pills-promotions-tab">
									<div class="promotion_tab mb-10">
										<img src="images/dashboard/promotion.svg" alt="">
										<h4>Baby promotion plan is activated!</h4>
										<p>By activating promotion plans you can improve course views and sales.</p>
										<button class="plan_link_btn" onclick="window.location.href = '#';">Change New Plan</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}