{% extends 'adminPanel/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<!-- Left Sidebar End -->
<!-- Body Start -->
	<div class="sa4d25">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="st_title"><i class="uil uil-star"></i> All Trades</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="student_reviews">
						<div class="row">
							<div class="col-lg-12	">
								<!-- <div class="col-lg-7"> -->
								<div class="review_right">
									
								</div>
 
                              <div class="table-responsive">
                                 <table class="table table-border   ucp-table">
                                     <thead class="thead-s">
                                       <tr>
                                          <th>#</th>
                                          <th>Reference</th>
                                          <th>Card type</th>
                                          <th>Price</th>
                                          <th>Quantity</th>
                                          <th>Amount</th>
                                          <th>Trade Status</th>
                                          <th>Action</th>
                                       </tr>
                                    </thead>
                                    <tbody>



                                    {% if trades %}


                                    {% for trade in trades %}

                                       <tr>

                                             <td>{{ forloop.counter }}</td>
                                          <td>{{trade.reference}}</td>
                                           <td>{{trade.trade_card.name}}</td>
                                            <td>{{trade.price}}</td>
                                             <td>{{trade.quantity}}</td>
                                              <td>{{trade.total_amount}}</td>
                                             <td>
                                                {% if trade.status == '1' %}
                                                   <b class="course_pending">Pending</b>
                                                {% elif trade.status == '2' %}

                                              <b class="course_success">Successfull</b>

                                                {% else %}
                                                    <b class="course_active">Failed</b>
                                                {% endif %}
                                             </td>
                                             <td >
														<a href="{% url 'adminPanel:admin_edit_trade' trade.id %}" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
													 
													</td>
                                    
                                           

                                       </tr>
                                       
                                       {% endfor %}
                                    {% endif %}

                                    </tbody>
                                 </table>
                              </div>
                    
								 
							</div>
						</div>
					</div>
				</div>
			</div>
 

{% endblock %}