{% extends 'adminPanel/base.html' %}
{% load static %}
{% block content %}
	<!-- Body Start -->
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table class="table table-border   ucp-table">
								<thead class="thead-s">
								  <tr>
									 <th>#</th>
									 <th>Reference</th>
									 <th>Card</th>
									 <th> Card Rate</th>
									 <th>Quantity</th>
									 <!-- <th>Action</th> -->
								  </tr>
							   </thead>
							   <tbody>



							   {% if trades %}


							   {% for trade in trades %}
								  <tr>

									<td>{{ forloop.counter }}</td>
									 <td>{{trade.trade.reference}}</td>
									  <td>{{trade.trade_card.card_type.name}}</td>
									   <td>{{trade.price}}</td>
									   <td>{{trade.quantity}}</td>
									 
								  </tr>
								  
								  {% endfor %}
							   {% endif %}

							   </tbody>
							</table>

						<div class="row">
							<div class="col-lg-6"><br><br>
								<div class="membership_chk_bg">

									{% if extra_details.default_bank_details %}
										<h4 style="color: #d1b000;">Total Amount to Pay: N<b>{{extra_details.total_amount}}</b> </h4>
												<h4 style="color: #d1b000;">Use Default Account Details:</h4>
												<h5>Account Name: <b>{{details.bank_accnt_name}}</b></h5>
												<h5>Account Number:<b> {{details.bank_accnt_number}} </b></h5>
												<h5>Bank Name : <b> {{details.bank_name}} </b></h5>
									
									{% else %}
									<h4 style="color: #d1b000;">Total Amount to Pay: N<b>{{extra_details.total_amount}}</b> </h4>
												<h4 style="color: #d1b000;">Use Default Account Details:</h4>
												<h5>Account Name: <b>{{extra_details.bank_accnt_name}}</b></h5>
												<h5>Account Number:<b> {{extra_details.bank_accnt_num}} </b></h5>
												<h5>Bank Name : <b> {{extra_details.bank_name}} </b></h5>
									
									{% endif %}		
								</div>
							</div>
						</div>
						
						{% if images %}
								{% for image in images %}
									<div class="bg_blog2">
										<a href="{{image.image.url}}" download>
											<img src="{{image.image.url}}" 	style="width:40%;height:40%" />
										</a>
									</div>
								{% endfor %}	
								{% endif %}
						
					</div>						
				</div>

				<div class="col-lg-6">
					<!-- {{extra_details.id}} -->
				{% if extra_details.status == '2' %}
					<a href="">
							<button class="add_crdit_btn mt-50" type="submit" style="background-color: green;">Transaction Successfull</button>
					</a>
				{% elif extra_details.status == '1' or extra_details.status == '3' %}
						<a href="{% url 'adminPanel:approve_trade' id=extra_details.id %}">
							<button class="add_crdit_btn mt-50" type="submit" style="background-color: green;">Approve Trade Transaction</button>
					</a>
				{% endif %}
					</div>	
				
				{% if  extra_details.status == '1' or extra_details.status == '2' %}
					<div class="col-lg-6">
						
							<button data-toggle="collapse" data-target="#demo" class="add_crdit_btn mt-50" type="submit" style="background-color: red;">Trade Declined</button>
					<div class="_215td5">
						
						<div id="demo" class="collapse">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="credit-method-tab" role="tabpanel"
									aria-labelledby="credit-tab">
									<div id="errors">
										<div class="inner">
		
											<ul>
												{% for field in card_cat %}
												{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>
												{% endif %}
		
												{% endfor %}
												{% for field in card_rate %}
												{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>
												{% endif %}
		
												{% endfor %}
											</ul>
										</div>
									</div>
									<form method="POST" enctype="multipart/form-data" action="{% url 'adminPanel:decline_trade' id=extra_details.id  %}">
										{% csrf_token %}
											<div class="row">
											<div class="col-md-12">
												<div class="ui search focus mt-30">																
													<div class="ui form swdh30">
														<div class="field">
															<textarea rows="6" name="comment" id="id_about" placeholder="Describe your issue or share your ideas"></textarea>
															<input type="file" id="img" name="comment_img" accept="image/*" multiple>
														</div>
													</div>
												</div>
											</div>
										</div>
								</div>
		
							</div>
							<div class="col-lg-12">
								<button class="add_crdit_btn mt-50" type="submit">Send Comment</button>
							</div>
						</div>
						</form>
				
					</div>
						
				{% else %}	
					<div class="col-lg-6">
						<a href="{% url 'adminPanel:view_trade_comment' id=extra_details.id  %}">
							<button class="add_crdit_btn mt-50" type="submit" style="background-color: red;">View Trade Comment</button>
						</a>	
					</div>	
				{% endif %}				
			</div>
		<!-- </div> -->
	{% endblock %}